<h2> List All Dogs</h2>
<ul>
    <% @dogs.each do |dog|%>
    <li>
        <%=link_to dog.name, dog_path(dog)%>
    </li>        
    <% end %>
</ul>        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        

