<form method="get" action="/dogs">
    <button type="submit">Check Out Our Dogs!</button>
</form>

<form method="get" action="/employees">
    <button type="submit">Check Out Our Employees!</button>
</form>